* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #D9D9D9;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  height: 50vh;
  background-color: #214CA0;
  font-family: 'Square Peg', cursive;
  font-size: 50px;
  text-align: center;
  padding-top: 300px;
}

div.form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  text-align: center;
  padding: 20px auto;

}

input {
  font-size: 36px;
  border: none;
  background-color: #C3CCCF;
  margin-right: 30px;
  text-align: center;
  border-radius: 10px;
}

button {
  border: none;
  font-size: 36px;
  border-radius: 10px;
  padding: 10px;
}

button:active {
  color: yellow;
}

#result {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  size: 25px;
}

/* img {
  padding: 10px;
} */

/* #message {
  display: block;
} */